.card-type-2{
    display: flex;
    flex-direction: column;
    place-items: center;
    line-height: 1.3;
    &.temperature-value{
        background-color:lighten( $clr4, 25% );
        background-color:#f0f6ff;
        box-shadow: none;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        margin-bottom: 5px;
        &.dark-theme{
            background-color:lighten( $darkTheme, 7% );
        }
    }
}

@media only screen and (max-width: 600px) {
    .card-type-2{
        width: fit-content;
        height: fit-content;
        padding: 10px;
        border-radius: 40px;
        min-width: 34px;
    }
    .card-type-2{
        color: $clr4;
        &.day-forecast-preview{

            background-color: #555b6f;
            // background-color: #1b1c21;
            box-shadow: 0 7px 20px -6px #68686d;
            &.light-theme{
                color: $lightClr;
                background: linear-gradient(
                    142deg
                    , $gradient2-clr1, $gradient2-clr2);
                box-shadow: 0 7px 20px -6px $gradient2-clr2;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    .card-type-2{
        &.day-forecast-preview{
            border-radius: 4px;
            padding:10px;
            min-width: 197px;
            width: 22vw;
            max-width: 229px;
            justify-content: space-between;
            justify-self: center;
            .weather-text{
                font-size: em(18px);
            }
        }
        &.temperature-value{
            width: fit-content;
            height: fit-content;
            padding: 10px;
        }
    }
    .card-type-2{
        color: $clr1;
        &.day-forecast-preview{
            background-color: #1b1c21;
            box-shadow: 0 7px 20px -6px #68686d;
            &.light-theme{
                color: $clr6;
                background: linear-gradient(
                    142deg
                    , $gradient-clr1,$lightClr);
                box-shadow: 0 7px 20px -6px lighten( $clr6, 20% );
            }
        }
        
        transition: 0.3s ease-in;
        &:hover{
            transform: translate3d(0,-3px,0);
            box-shadow: 0 6px 24px rgb(0 0 0 / 14%);
        }
    }
}