
@media only screen and (min-width: 600px) {
    .favorite-page{
        .title{
            margin-bottom: 70px;
            margin-top: 30px;
            font-size: 30px;
        }
    }
}
.favorite-page{
    .title{
        font-family: 'Sonsie_One';
    }
}